.before {
  float: left;
  size: 300px;
  width: 325px;
  padding: 20px;
  border: solid green;
  background-color: gray;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.during {
  float: left;
  size: 300px;
  width: 325px;
  padding: 20px;
  border: solid red;
  background-color: purple;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.after {
  float: left;
  size: 300px;
  width: 325px;
  padding: 20px;
  border: solid pink;
  background-color: yellow;
  margin-bottom: 30px;
  box-sizing: border-box;
}